@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Roboto Light', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  font-size: 16px;
}

a {
  transition: color 0.15s;
  color: #663399;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.divider {
  height: 30px;
  margin: 0 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #542683 !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.headerTitle a {
  color: #333;
}

.headerTitle a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.navBarCollapse {
  padding-left: 0;
}

/* Header section starts here */
.navBarDefault {
  background-color: white;
  color: #333;
  border-radius: 0;
  border-top: 0;
  margin-bottom: 0;
  border: 0;
  display: flex;
  align-items: center;
  box-shadow: -1px 0px 4px 1px rgba(175, 158, 232, 0.4);
  -webkit-box-shadow: -1px 0px 4px 1px rgba(175, 158, 232, 0.4);
  -moz-box-shadow: -1px 0px 4px 1px rgba(175, 158, 232, 0.8);
  -o-box-shadow: -1px 0px 4px 1px rgba(175, 158, 232, 0.4);
  z-index: 1;
  padding: 15px;
}
.navBarHeader {
  min-width: 335px;
  padding-right: 20px;
}
.navBarBrand {
  height: auto;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 500;
  color: #333 !important;
  padding: 0px 0px;
  display: flex;
  align-items: center;
}

.navBarBrand img {
  width: 40px;
  margin-right: 16px;
  display: inline-block;
}

.navBarUL li a {
  font-family: 'Roboto';
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  opacity: 1;
}
.navBarNav {
  display: flex;
  align-items: center;
}
.navBarUL li a img,
.navBarUL li a .shareIcon {
  width: 20px;
}
.mainWrapper {
  color: rgb(59, 69, 78);
  max-width: 750px;
}
.navBarUL li a:hover {
  opacity: 0.7;
}

.mainWrapper ul {
  -webkit-padding-start: 40px;
  -moz-padding-start: 40px;
  -o-padding-start: 40px;
  margin: 24px 0px;
  padding: 0px 0px 0px 2em;
}

.mainWrapper ul li {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}

/* Header section ends here */

.titleWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(230, 236, 241);
  margin-bottom: 32px;
}

// nextPrevious starts here

.addPaddTopBottom {
  padding: 50px 0;
}

@media (max-width: 767px) {
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navBarULRight {
    position: static;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navBarUL {
    display: flex;
    align-items: center;
    margin: 7.5px 0px;
  }

  .navBarUL li a {
    font-size: 14px;
    padding: 10px 10px;
  }

  .navBarDefault {
    display: block;
  }

  .navBarToggle {
    margin-right: 0;
    height: 44px;
  }
  .navBarHeader {
    display: flex;
    min-width: auto;
    padding-right: 0;
    align-items: center;
  }
  .navBarBrand {
    font-size: 20px;
    padding: 15px;
    padding-left: 0;
    flex: 1;
  }

  .titleWrapper {
    padding: 0 15px;
    display: block;
  }

  .mainWrapper {
    padding: 0 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navBarDefault {
    padding: 10px;
  }
  .navBarBrand {
    font-size: 22px;
  }
  .navBarHeader {
    min-width: 240px;
  }
  .navBarCollapse {
    padding-right: 10px;
    padding-left: 10px;
  }
  .githubBtn {
    padding: 10px 10px;
  }
  .divider {
    margin: 0 5px;
    height: 20px;
  }
  .navBarUL li a {
    padding: 10px 5px;
  }
  .navBarCollapse {
    display: flex !important;
    align-items: center;
  }
}
